* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 152px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Inicio Main */
.item {
    /*Esto es para que al darle click en los enlaces dentro de la página me respete el espacio de el header y el lugar al que quiero ir*/
    scroll-margin-top: 21ex;
}

html {
    scroll-behavior: smooth;
}

.main-home {
    height: 700px;
    width: 100%;
    background-image: url("../src/img/mainpp.jpg");
    background-repeat: no-repeat;
    background-size: 100% 800px;
    position: relative;
}

.main-home-chart {
    background-color:rgba(142, 173, 66, 60%);
    width: 500px;
    height: 350px;
    position: absolute;
    top: 30%;
    right: 60px;
    z-index: 1;
    border-radius: 10px;
    padding: 70px 35px 10px;
}

.main-home-chart h1 {
    font-size: 50px;
    font-family: "Barlow", sans-serif;
    font-weight: 650;
}
.main-home-chart button {
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    background-color: #CF2200;
    width: 200px;
    height: 55px;
}

.home-button {
    padding-left: 47%;
    padding-top: 13%;
}

.main-middle {
   height: 220px;
}

.main-menu {
    height: 400px;
    width: 100%;
    background-image: url("../src/img/oscuro.jpg");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    margin-bottom: 10px;
}

/* Middle */
.main-middle-chart {
    width: 400px;
    height: 290px;
    background-color:rgba(223, 206, 175, 50%);
    border-radius: 10px;
    position: relative;
    top: 12%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 57px;
}

.main-middle-chart p {
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
}

.middle-icons i{
    font-size: 40px;
    padding: 10px;
}
.cel {
    color: #333333;;
}

.wat {
    color: #25D366;
}

.main-middle-chart button {
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    background-color: #8EAD42;
    border-color: #8EAD42 ;
    width: 200px;
    height: 55px;
}

/* Fin Main */

/* */

/* Mobile Version */
@media (max-width: 768px) {
    body {
        padding-top: 62px;
    }
    /* Inicio Main */
    .main-home {
        height: 350px;
        background-size: 100% 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .main-home-chart {
        width: 300px;
        height: 200px;
        position: static;
        padding: 20px 0 0 15px;
    }

    .main-home-chart h1 {
        font-size: 32px;
        font-weight: 650;
    }
    .main-home-chart button {
        font-size: 30px;
        font-weight: 600;
    }

    .home-button {
        padding: 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Middle */
    .main-middle {
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
     }

    .main-middle-chart {
        width: 300px;
        height: 350px;
        position: relative;
        top: 8%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Fin Main */
}